dataset/
db/
dlib/
venv/
__pycache__/
.idea/
data.pickle
test/test_images/
depth_img.png
hog_img.png
original_img.png
/lbp_classifier/model_lbp.p
/depth_classifier/data_depth.pickle
/original_dataset/
/depth_classifier/data_depth0.pickle
extract_faces.py
faces_dataset.zip
faces_dataset/
hog_classifier/
lbp_classifier/
original_dataset.zip
temp/
test/test_images.zip
